In [150]:
import pandas as pd

In [151]:
df = pd.read_csv("skill.csv")
#df

In [152]:
f = open("skill.csv")
file_length = len(f.readlines())
print(file_length,type(file_length))

20 <class 'int'>

In [153]:
df1 = pd.read_csv("skill_number.csv",header=None)
df1

     0   1   2   3   4   5
0   34  19  21  16  13   5
1   21  37  18  20 NaN NaN
2   18  19  21  17 NaN NaN
3   35  26  36  10   7   4
4   38  26  23  31  13  12
5   22  12  16  34  24  29
6   19  18  25  13   2   1
7   17  11   3   7  14  31
8   39  29   1  23  28  33
9    9  38   2  24   6  31
10   0  14   1  23   7  11
11  27  29  16   5  34   8
12  25  28  15  11  22   4
13   9   8  22   4   3  33
14   3   5  32  35  37  39
15  20  39   9  35   6  24
16  27  26   8  30   0  14
17  28  33   2  37  20  38
18  32  27   0   6  25  30
19  36  10  17  32  30  15

In [154]:
print(type(df1))

print(type(df1[0][0]))
df1[0][0]

<class 'pandas.core.frame.DataFrame'>
<class 'numpy.int64'>

34

In [172]:
import numpy as np
r = []
for index,row in df1.iterrows():
    row = row[~row.isnull()]
    row = [float(np_float) for np_float in row]
    
    for i in range(len(row)):
        print(i,row[i],type(row[i]))
        if float(row[i]) != np.nan:
            #print(str(int(row[i])),end=',')
            s = str(index+1)+','+str(int(row[i]))+',1'
            print(s)
            r.append(s)
    print()

0 34.0 <class 'float'>
1,34,1
1 19.0 <class 'float'>
1,19,1
2 21.0 <class 'float'>
1,21,1
3 16.0 <class 'float'>
1,16,1
4 13.0 <class 'float'>
1,13,1
5 5.0 <class 'float'>
1,5,1

0 21.0 <class 'float'>
2,21,1
1 37.0 <class 'float'>
2,37,1
2 18.0 <class 'float'>
2,18,1
3 20.0 <class 'float'>
2,20,1

0 18.0 <class 'float'>
3,18,1
1 19.0 <class 'float'>
3,19,1
2 21.0 <class 'float'>
3,21,1
3 17.0 <class 'float'>
3,17,1

0 35.0 <class 'float'>
4,35,1
1 26.0 <class 'float'>
4,26,1
2 36.0 <class 'float'>
4,36,1
3 10.0 <class 'float'>
4,10,1
4 7.0 <class 'float'>
4,7,1
5 4.0 <class 'float'>
4,4,1

0 38.0 <class 'float'>
5,38,1
1 26.0 <class 'float'>
5,26,1
2 23.0 <class 'float'>
5,23,1
3 31.0 <class 'float'>
5,31,1
4 13.0 <class 'float'>
5,13,1
5 12.0 <class 'float'>
5,12,1

0 22.0 <class 'float'>
6,22,1
1 12.0 <class 'float'>
6,12,1
2 16.0 <class 'float'>
6,16,1
3 34.0 <class 'float'>
6,34,1
4 24.0 <class 'float'>
6,24,1
5 29.0 <class 'float'>
6,29,1

0 19.0 <class 'float'>
7,19,1
1 18.0 <class 'float'>
7,18,1
2 25.0 <class 'float'>
7,25,1
3 13.0 <class 'float'>
7,13,1
4 2.0 <class 'float'>
7,2,1
5 1.0 <class 'float'>
7,1,1

0 17.0 <class 'float'>
8,17,1
1 11.0 <class 'float'>
8,11,1
2 3.0 <class 'float'>
8,3,1
3 7.0 <class 'float'>
8,7,1
4 14.0 <class 'float'>
8,14,1
5 31.0 <class 'float'>
8,31,1

0 39.0 <class 'float'>
9,39,1
1 29.0 <class 'float'>
9,29,1
2 1.0 <class 'float'>
9,1,1
3 23.0 <class 'float'>
9,23,1
4 28.0 <class 'float'>
9,28,1
5 33.0 <class 'float'>
9,33,1

0 9.0 <class 'float'>
10,9,1
1 38.0 <class 'float'>
10,38,1
2 2.0 <class 'float'>
10,2,1
3 24.0 <class 'float'>
10,24,1
4 6.0 <class 'float'>
10,6,1
5 31.0 <class 'float'>
10,31,1

0 0.0 <class 'float'>
11,0,1
1 14.0 <class 'float'>
11,14,1
2 1.0 <class 'float'>
11,1,1
3 23.0 <class 'float'>
11,23,1
4 7.0 <class 'float'>
11,7,1
5 11.0 <class 'float'>
11,11,1

0 27.0 <class 'float'>
12,27,1
1 29.0 <class 'float'>
12,29,1
2 16.0 <class 'float'>
12,16,1
3 5.0 <class 'float'>
12,5,1
4 34.0 <class 'float'>
12,34,1
5 8.0 <class 'float'>
12,8,1

0 25.0 <class 'float'>
13,25,1
1 28.0 <class 'float'>
13,28,1
2 15.0 <class 'float'>
13,15,1
3 11.0 <class 'float'>
13,11,1
4 22.0 <class 'float'>
13,22,1
5 4.0 <class 'float'>
13,4,1

0 9.0 <class 'float'>
14,9,1
1 8.0 <class 'float'>
14,8,1
2 22.0 <class 'float'>
14,22,1
3 4.0 <class 'float'>
14,4,1
4 3.0 <class 'float'>
14,3,1
5 33.0 <class 'float'>
14,33,1

0 3.0 <class 'float'>
15,3,1
1 5.0 <class 'float'>
15,5,1
2 32.0 <class 'float'>
15,32,1
3 35.0 <class 'float'>
15,35,1
4 37.0 <class 'float'>
15,37,1
5 39.0 <class 'float'>
15,39,1

0 20.0 <class 'float'>
16,20,1
1 39.0 <class 'float'>
16,39,1
2 9.0 <class 'float'>
16,9,1
3 35.0 <class 'float'>
16,35,1
4 6.0 <class 'float'>
16,6,1
5 24.0 <class 'float'>
16,24,1

0 27.0 <class 'float'>
17,27,1
1 26.0 <class 'float'>
17,26,1
2 8.0 <class 'float'>
17,8,1
3 30.0 <class 'float'>
17,30,1
4 0.0 <class 'float'>
17,0,1
5 14.0 <class 'float'>
17,14,1

0 28.0 <class 'float'>
18,28,1
1 33.0 <class 'float'>
18,33,1
2 2.0 <class 'float'>
18,2,1
3 37.0 <class 'float'>
18,37,1
4 20.0 <class 'float'>
18,20,1
5 38.0 <class 'float'>
18,38,1

0 32.0 <class 'float'>
19,32,1
1 27.0 <class 'float'>
19,27,1
2 0.0 <class 'float'>
19,0,1
3 6.0 <class 'float'>
19,6,1
4 25.0 <class 'float'>
19,25,1
5 30.0 <class 'float'>
19,30,1

0 36.0 <class 'float'>
20,36,1
1 10.0 <class 'float'>
20,10,1
2 17.0 <class 'float'>
20,17,1
3 32.0 <class 'float'>
20,32,1
4 30.0 <class 'float'>
20,30,1
5 15.0 <class 'float'>
20,15,1

In [173]:
print(r)

['1,34,1', '1,19,1', '1,21,1', '1,16,1', '1,13,1', '1,5,1', '2,21,1', '2,37,1', '2,18,1', '2,20,1', '3,18,1', '3,19,1', '3,21,1', '3,17,1', '4,35,1', '4,26,1', '4,36,1', '4,10,1', '4,7,1', '4,4,1', '5,38,1', '5,26,1', '5,23,1', '5,31,1', '5,13,1', '5,12,1', '6,22,1', '6,12,1', '6,16,1', '6,34,1', '6,24,1', '6,29,1', '7,19,1', '7,18,1', '7,25,1', '7,13,1', '7,2,1', '7,1,1', '8,17,1', '8,11,1', '8,3,1', '8,7,1', '8,14,1', '8,31,1', '9,39,1', '9,29,1', '9,1,1', '9,23,1', '9,28,1', '9,33,1', '10,9,1', '10,38,1', '10,2,1', '10,24,1', '10,6,1', '10,31,1', '11,0,1', '11,14,1', '11,1,1', '11,23,1', '11,7,1', '11,11,1', '12,27,1', '12,29,1', '12,16,1', '12,5,1', '12,34,1', '12,8,1', '13,25,1', '13,28,1', '13,15,1', '13,11,1', '13,22,1', '13,4,1', '14,9,1', '14,8,1', '14,22,1', '14,4,1', '14,3,1', '14,33,1', '15,3,1', '15,5,1', '15,32,1', '15,35,1', '15,37,1', '15,39,1', '16,20,1', '16,39,1', '16,9,1', '16,35,1', '16,6,1', '16,24,1', '17,27,1', '17,26,1', '17,8,1', '17,30,1', '17,0,1', '17,14,1', '18,28,1', '18,33,1', '18,2,1', '18,37,1', '18,20,1', '18,38,1', '19,32,1', '19,27,1', '19,0,1', '19,6,1', '19,25,1', '19,30,1', '20,36,1', '20,10,1', '20,17,1', '20,32,1', '20,30,1', '20,15,1']

In [174]:
df2 = pd.DataFrame(r)
df2.to_csv("aman_rating.csv",index=False)

In [175]:
df2 = pd.read_csv("aman_rating.csv")
df2

           0
0     1,34,1
1     1,19,1
2     1,21,1
3     1,16,1
4     1,13,1
5      1,5,1
6     2,21,1
7     2,37,1
8     2,18,1
9     2,20,1
10    3,18,1
11    3,19,1
12    3,21,1
13    3,17,1
14    4,35,1
15    4,26,1
16    4,36,1
17    4,10,1
18     4,7,1
19     4,4,1
20    5,38,1
21    5,26,1
22    5,23,1
23    5,31,1
24    5,13,1
25    5,12,1
26    6,22,1
27    6,12,1
28    6,16,1
29    6,34,1
..       ...
86   16,20,1
87   16,39,1
88    16,9,1
89   16,35,1
90    16,6,1
91   16,24,1
92   17,27,1
93   17,26,1
94    17,8,1
95   17,30,1
96    17,0,1
97   17,14,1
98   18,28,1
99   18,33,1
100   18,2,1
101  18,37,1
102  18,20,1
103  18,38,1
104  19,32,1
105  19,27,1
106   19,0,1
107   19,6,1
108  19,25,1
109  19,30,1
110  20,36,1
111  20,10,1
112  20,17,1
113  20,32,1
114  20,30,1
115  20,15,1

[116 rows x 1 columns]

In [176]:
def readingFile(filename):
    f = open(filename,"r")
    data=[]
    c=0
    for row in f:
        if c==0:
            c=1
            continue
        r = row.split(',')
        r[len(r)-1] = r[len(r)-1][:-2]
        r[0] = r[0][1:]
        #print(r)
        for i in range(len(r)):
            print(i,'->',r[i],end=' ::: ')
        print()
        r[0] = int(r[0])
        print('r[0]=',r[0],"\t",type(r[0]))
        #print(r[1],"\t",type(r[1]))
        #r[2] = r[2][:-2]
        #print(r[2],"\t",type(r[2]))
        e = [ int(r[0]) , int(r[1]) , int(r[2])]
        data.append(e)
    f.close()
    return data


readingFile("aman_rating.csv")

0 -> 1 ::: 1 -> 34 ::: 2 -> 1 :::
r[0]= 1 	 <class 'int'>
0 -> 1 ::: 1 -> 19 ::: 2 -> 1 :::
r[0]= 1 	 <class 'int'>
0 -> 1 ::: 1 -> 21 ::: 2 -> 1 :::
r[0]= 1 	 <class 'int'>
0 -> 1 ::: 1 -> 16 ::: 2 -> 1 :::
r[0]= 1 	 <class 'int'>
0 -> 1 ::: 1 -> 13 ::: 2 -> 1 :::
r[0]= 1 	 <class 'int'>
0 -> 1 ::: 1 -> 5 ::: 2 -> 1 :::
r[0]= 1 	 <class 'int'>
0 -> 2 ::: 1 -> 21 ::: 2 -> 1 :::
r[0]= 2 	 <class 'int'>
0 -> 2 ::: 1 -> 37 ::: 2 -> 1 :::
r[0]= 2 	 <class 'int'>
0 -> 2 ::: 1 -> 18 ::: 2 -> 1 :::
r[0]= 2 	 <class 'int'>
0 -> 2 ::: 1 -> 20 ::: 2 -> 1 :::
r[0]= 2 	 <class 'int'>
0 -> 3 ::: 1 -> 18 ::: 2 -> 1 :::
r[0]= 3 	 <class 'int'>
0 -> 3 ::: 1 -> 19 ::: 2 -> 1 :::
r[0]= 3 	 <class 'int'>
0 -> 3 ::: 1 -> 21 ::: 2 -> 1 :::
r[0]= 3 	 <class 'int'>
0 -> 3 ::: 1 -> 17 ::: 2 -> 1 :::
r[0]= 3 	 <class 'int'>
0 -> 4 ::: 1 -> 35 ::: 2 -> 1 :::
r[0]= 4 	 <class 'int'>
0 -> 4 ::: 1 -> 26 ::: 2 -> 1 :::
r[0]= 4 	 <class 'int'>
0 -> 4 ::: 1 -> 36 ::: 2 -> 1 :::
r[0]= 4 	 <class 'int'>
0 -> 4 ::: 1 -> 10 ::: 2 -> 1 :::
r[0]= 4 	 <class 'int'>
0 -> 4 ::: 1 -> 7 ::: 2 -> 1 :::
r[0]= 4 	 <class 'int'>
0 -> 4 ::: 1 -> 4 ::: 2 -> 1 :::
r[0]= 4 	 <class 'int'>
0 -> 5 ::: 1 -> 38 ::: 2 -> 1 :::
r[0]= 5 	 <class 'int'>
0 -> 5 ::: 1 -> 26 ::: 2 -> 1 :::
r[0]= 5 	 <class 'int'>
0 -> 5 ::: 1 -> 23 ::: 2 -> 1 :::
r[0]= 5 	 <class 'int'>
0 -> 5 ::: 1 -> 31 ::: 2 -> 1 :::
r[0]= 5 	 <class 'int'>
0 -> 5 ::: 1 -> 13 ::: 2 -> 1 :::
r[0]= 5 	 <class 'int'>
0 -> 5 ::: 1 -> 12 ::: 2 -> 1 :::
r[0]= 5 	 <class 'int'>
0 -> 6 ::: 1 -> 22 ::: 2 -> 1 :::
r[0]= 6 	 <class 'int'>
0 -> 6 ::: 1 -> 12 ::: 2 -> 1 :::
r[0]= 6 	 <class 'int'>
0 -> 6 ::: 1 -> 16 ::: 2 -> 1 :::
r[0]= 6 	 <class 'int'>
0 -> 6 ::: 1 -> 34 ::: 2 -> 1 :::
r[0]= 6 	 <class 'int'>
0 -> 6 ::: 1 -> 24 ::: 2 -> 1 :::
r[0]= 6 	 <class 'int'>
0 -> 6 ::: 1 -> 29 ::: 2 -> 1 :::
r[0]= 6 	 <class 'int'>
0 -> 7 ::: 1 -> 19 ::: 2 -> 1 :::
r[0]= 7 	 <class 'int'>
0 -> 7 ::: 1 -> 18 ::: 2 -> 1 :::
r[0]= 7 	 <class 'int'>
0 -> 7 ::: 1 -> 25 ::: 2 -> 1 :::
r[0]= 7 	 <class 'int'>
0 -> 7 ::: 1 -> 13 ::: 2 -> 1 :::
r[0]= 7 	 <class 'int'>
0 -> 7 ::: 1 -> 2 ::: 2 -> 1 :::
r[0]= 7 	 <class 'int'>
0 -> 7 ::: 1 -> 1 ::: 2 -> 1 :::
r[0]= 7 	 <class 'int'>
0 -> 8 ::: 1 -> 17 ::: 2 -> 1 :::
r[0]= 8 	 <class 'int'>
0 -> 8 ::: 1 -> 11 ::: 2 -> 1 :::
r[0]= 8 	 <class 'int'>
0 -> 8 ::: 1 -> 3 ::: 2 -> 1 :::
r[0]= 8 	 <class 'int'>
0 -> 8 ::: 1 -> 7 ::: 2 -> 1 :::
r[0]= 8 	 <class 'int'>
0 -> 8 ::: 1 -> 14 ::: 2 -> 1 :::
r[0]= 8 	 <class 'int'>
0 -> 8 ::: 1 -> 31 ::: 2 -> 1 :::
r[0]= 8 	 <class 'int'>
0 -> 9 ::: 1 -> 39 ::: 2 -> 1 :::
r[0]= 9 	 <class 'int'>
0 -> 9 ::: 1 -> 29 ::: 2 -> 1 :::
r[0]= 9 	 <class 'int'>
0 -> 9 ::: 1 -> 1 ::: 2 -> 1 :::
r[0]= 9 	 <class 'int'>
0 -> 9 ::: 1 -> 23 ::: 2 -> 1 :::
r[0]= 9 	 <class 'int'>
0 -> 9 ::: 1 -> 28 ::: 2 -> 1 :::
r[0]= 9 	 <class 'int'>
0 -> 9 ::: 1 -> 33 ::: 2 -> 1 :::
r[0]= 9 	 <class 'int'>
0 -> 10 ::: 1 -> 9 ::: 2 -> 1 :::
r[0]= 10 	 <class 'int'>
0 -> 10 ::: 1 -> 38 ::: 2 -> 1 :::
r[0]= 10 	 <class 'int'>
0 -> 10 ::: 1 -> 2 ::: 2 -> 1 :::
r[0]= 10 	 <class 'int'>
0 -> 10 ::: 1 -> 24 ::: 2 -> 1 :::
r[0]= 10 	 <class 'int'>
0 -> 10 ::: 1 -> 6 ::: 2 -> 1 :::
r[0]= 10 	 <class 'int'>
0 -> 10 ::: 1 -> 31 ::: 2 -> 1 :::
r[0]= 10 	 <class 'int'>
0 -> 11 ::: 1 -> 0 ::: 2 -> 1 :::
r[0]= 11 	 <class 'int'>
0 -> 11 ::: 1 -> 14 ::: 2 -> 1 :::
r[0]= 11 	 <class 'int'>
0 -> 11 ::: 1 -> 1 ::: 2 -> 1 :::
r[0]= 11 	 <class 'int'>
0 -> 11 ::: 1 -> 23 ::: 2 -> 1 :::
r[0]= 11 	 <class 'int'>
0 -> 11 ::: 1 -> 7 ::: 2 -> 1 :::
r[0]= 11 	 <class 'int'>
0 -> 11 ::: 1 -> 11 ::: 2 -> 1 :::
r[0]= 11 	 <class 'int'>
0 -> 12 ::: 1 -> 27 ::: 2 -> 1 :::
r[0]= 12 	 <class 'int'>
0 -> 12 ::: 1 -> 29 ::: 2 -> 1 :::
r[0]= 12 	 <class 'int'>
0 -> 12 ::: 1 -> 16 ::: 2 -> 1 :::
r[0]= 12 	 <class 'int'>
0 -> 12 ::: 1 -> 5 ::: 2 -> 1 :::
r[0]= 12 	 <class 'int'>
0 -> 12 ::: 1 -> 34 ::: 2 -> 1 :::
r[0]= 12 	 <class 'int'>
0 -> 12 ::: 1 -> 8 ::: 2 -> 1 :::
r[0]= 12 	 <class 'int'>
0 -> 13 ::: 1 -> 25 ::: 2 -> 1 :::
r[0]= 13 	 <class 'int'>
0 -> 13 ::: 1 -> 28 ::: 2 -> 1 :::
r[0]= 13 	 <class 'int'>
0 -> 13 ::: 1 -> 15 ::: 2 -> 1 :::
r[0]= 13 	 <class 'int'>
0 -> 13 ::: 1 -> 11 ::: 2 -> 1 :::
r[0]= 13 	 <class 'int'>
0 -> 13 ::: 1 -> 22 ::: 2 -> 1 :::
r[0]= 13 	 <class 'int'>
0 -> 13 ::: 1 -> 4 ::: 2 -> 1 :::
r[0]= 13 	 <class 'int'>
0 -> 14 ::: 1 -> 9 ::: 2 -> 1 :::
r[0]= 14 	 <class 'int'>
0 -> 14 ::: 1 -> 8 ::: 2 -> 1 :::
r[0]= 14 	 <class 'int'>
0 -> 14 ::: 1 -> 22 ::: 2 -> 1 :::
r[0]= 14 	 <class 'int'>
0 -> 14 ::: 1 -> 4 ::: 2 -> 1 :::
r[0]= 14 	 <class 'int'>
0 -> 14 ::: 1 -> 3 ::: 2 -> 1 :::
r[0]= 14 	 <class 'int'>
0 -> 14 ::: 1 -> 33 ::: 2 -> 1 :::
r[0]= 14 	 <class 'int'>
0 -> 15 ::: 1 -> 3 ::: 2 -> 1 :::
r[0]= 15 	 <class 'int'>
0 -> 15 ::: 1 -> 5 ::: 2 -> 1 :::
r[0]= 15 	 <class 'int'>
0 -> 15 ::: 1 -> 32 ::: 2 -> 1 :::
r[0]= 15 	 <class 'int'>
0 -> 15 ::: 1 -> 35 ::: 2 -> 1 :::
r[0]= 15 	 <class 'int'>
0 -> 15 ::: 1 -> 37 ::: 2 -> 1 :::
r[0]= 15 	 <class 'int'>
0 -> 15 ::: 1 -> 39 ::: 2 -> 1 :::
r[0]= 15 	 <class 'int'>
0 -> 16 ::: 1 -> 20 ::: 2 -> 1 :::
r[0]= 16 	 <class 'int'>
0 -> 16 ::: 1 -> 39 ::: 2 -> 1 :::
r[0]= 16 	 <class 'int'>
0 -> 16 ::: 1 -> 9 ::: 2 -> 1 :::
r[0]= 16 	 <class 'int'>
0 -> 16 ::: 1 -> 35 ::: 2 -> 1 :::
r[0]= 16 	 <class 'int'>
0 -> 16 ::: 1 -> 6 ::: 2 -> 1 :::
r[0]= 16 	 <class 'int'>
0 -> 16 ::: 1 -> 24 ::: 2 -> 1 :::
r[0]= 16 	 <class 'int'>
0 -> 17 ::: 1 -> 27 ::: 2 -> 1 :::
r[0]= 17 	 <class 'int'>
0 -> 17 ::: 1 -> 26 ::: 2 -> 1 :::
r[0]= 17 	 <class 'int'>
0 -> 17 ::: 1 -> 8 ::: 2 -> 1 :::
r[0]= 17 	 <class 'int'>
0 -> 17 ::: 1 -> 30 ::: 2 -> 1 :::
r[0]= 17 	 <class 'int'>
0 -> 17 ::: 1 -> 0 ::: 2 -> 1 :::
r[0]= 17 	 <class 'int'>
0 -> 17 ::: 1 -> 14 ::: 2 -> 1 :::
r[0]= 17 	 <class 'int'>
0 -> 18 ::: 1 -> 28 ::: 2 -> 1 :::
r[0]= 18 	 <class 'int'>
0 -> 18 ::: 1 -> 33 ::: 2 -> 1 :::
r[0]= 18 	 <class 'int'>
0 -> 18 ::: 1 -> 2 ::: 2 -> 1 :::
r[0]= 18 	 <class 'int'>
0 -> 18 ::: 1 -> 37 ::: 2 -> 1 :::
r[0]= 18 	 <class 'int'>
0 -> 18 ::: 1 -> 20 ::: 2 -> 1 :::
r[0]= 18 	 <class 'int'>
0 -> 18 ::: 1 -> 38 ::: 2 -> 1 :::
r[0]= 18 	 <class 'int'>
0 -> 19 ::: 1 -> 32 ::: 2 -> 1 :::
r[0]= 19 	 <class 'int'>
0 -> 19 ::: 1 -> 27 ::: 2 -> 1 :::
r[0]= 19 	 <class 'int'>
0 -> 19 ::: 1 -> 0 ::: 2 -> 1 :::
r[0]= 19 	 <class 'int'>
0 -> 19 ::: 1 -> 6 ::: 2 -> 1 :::
r[0]= 19 	 <class 'int'>
0 -> 19 ::: 1 -> 25 ::: 2 -> 1 :::
r[0]= 19 	 <class 'int'>
0 -> 19 ::: 1 -> 30 ::: 2 -> 1 :::
r[0]= 19 	 <class 'int'>
0 -> 20 ::: 1 -> 36 ::: 2 -> 1 :::
r[0]= 20 	 <class 'int'>
0 -> 20 ::: 1 -> 10 ::: 2 -> 1 :::
r[0]= 20 	 <class 'int'>
0 -> 20 ::: 1 -> 17 ::: 2 -> 1 :::
r[0]= 20 	 <class 'int'>
0 -> 20 ::: 1 -> 32 ::: 2 -> 1 :::
r[0]= 20 	 <class 'int'>
0 -> 20 ::: 1 -> 30 ::: 2 -> 1 :::
r[0]= 20 	 <class 'int'>
0 -> 20 ::: 1 -> 15 ::: 2 -> 1 :::
r[0]= 20 	 <class 'int'>

[[1, 34, 1],
 [1, 19, 1],
 [1, 21, 1],
 [1, 16, 1],
 [1, 13, 1],
 [1, 5, 1],
 [2, 21, 1],
 [2, 37, 1],
 [2, 18, 1],
 [2, 20, 1],
 [3, 18, 1],
 [3, 19, 1],
 [3, 21, 1],
 [3, 17, 1],
 [4, 35, 1],
 [4, 26, 1],
 [4, 36, 1],
 [4, 10, 1],
 [4, 7, 1],
 [4, 4, 1],
 [5, 38, 1],
 [5, 26, 1],
 [5, 23, 1],
 [5, 31, 1],
 [5, 13, 1],
 [5, 12, 1],
 [6, 22, 1],
 [6, 12, 1],
 [6, 16, 1],
 [6, 34, 1],
 [6, 24, 1],
 [6, 29, 1],
 [7, 19, 1],
 [7, 18, 1],
 [7, 25, 1],
 [7, 13, 1],
 [7, 2, 1],
 [7, 1, 1],
 [8, 17, 1],
 [8, 11, 1],
 [8, 3, 1],
 [8, 7, 1],
 [8, 14, 1],
 [8, 31, 1],
 [9, 39, 1],
 [9, 29, 1],
 [9, 1, 1],
 [9, 23, 1],
 [9, 28, 1],
 [9, 33, 1],
 [10, 9, 1],
 [10, 38, 1],
 [10, 2, 1],
 [10, 24, 1],
 [10, 6, 1],
 [10, 31, 1],
 [11, 0, 1],
 [11, 14, 1],
 [11, 1, 1],
 [11, 23, 1],
 [11, 7, 1],
 [11, 11, 1],
 [12, 27, 1],
 [12, 29, 1],
 [12, 16, 1],
 [12, 5, 1],
 [12, 34, 1],
 [12, 8, 1],
 [13, 25, 1],
 [13, 28, 1],
 [13, 15, 1],
 [13, 11, 1],
 [13, 22, 1],
 [13, 4, 1],
 [14, 9, 1],
 [14, 8, 1],
 [14, 22, 1],
 [14, 4, 1],
 [14, 3, 1],
 [14, 33, 1],
 [15, 3, 1],
 [15, 5, 1],
 [15, 32, 1],
 [15, 35, 1],
 [15, 37, 1],
 [15, 39, 1],
 [16, 20, 1],
 [16, 39, 1],
 [16, 9, 1],
 [16, 35, 1],
 [16, 6, 1],
 [16, 24, 1],
 [17, 27, 1],
 [17, 26, 1],
 [17, 8, 1],
 [17, 30, 1],
 [17, 0, 1],
 [17, 14, 1],
 [18, 28, 1],
 [18, 33, 1],
 [18, 2, 1],
 [18, 37, 1],
 [18, 20, 1],
 [18, 38, 1],
 [19, 32, 1],
 [19, 27, 1],
 [19, 0, 1],
 [19, 6, 1],
 [19, 25, 1],
 [19, 30, 1],
 [20, 36, 1],
 [20, 10, 1],
 [20, 17, 1],
 [20, 32, 1],
 [20, 30, 1],
 [20, 15, 1]]